<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kodarkooperativet.notificationstopwatch"
    android:versionCode="6"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kodarkooperativet.notificationstopwatch.StopwatchActivity"
            android:label="@string/app_name" 
    		android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service
            android:name="com.kodarkooperativet.notificationstopwatch.TimeService"
    		android:launchMode="singleTask"
            android:enabled="true" >
        </service>
    </application>

</manifest>